.places__description {
    display: flex;
    flex-direction: column;
    gap: 26px;
}

@media screen and (max-width: 425px) {
    .places__description {
        max-width: 288px;
        justify-self: center;
    }
} 